{% extends 'store/main.html' %}
{% load static %}

{% block title %}
Search
{% endblock title %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/search.css' %}">


<div class="search-header">
    <i> Results for <b> {{query}} </b></i>
    <a href="{% url 'store' %}"><button class="continue-shopping">&#x2190; Shop More</button></a>
</div>

<div class="products">

    {% for product in products %}
    <div class="panel">
        <div class="panel__body">
            <a class="view" href="{% url 'description' product.id %}">
                <img src="{{product.imageURL}}" alt="{{product.name}} panel" class="panel__image">
            </a>
            <div class="panel__text">
                <div class="row">
                    <div class="double-column title-tag">
                        <a href="{% url 'description' product.id %}">
                            <h3> {{product.name}} </h3>
                        </a>
                    </div>
                    <div class="column-right">
                        ${{product.price}}
                    </div>
                </div>
                <div class="row">
                    <div class="column-left sub-body">
                        {{product.category}}
                    </div>
                    <div class="column-right sub-body">
                        {{product.location}}
                    </div>
                </div>
            </div>
        </div>
        <button class="panel__btn add-to-cart update-cart" data-product="{{product.id}}" data-action="add"> Add to Cart </button>
    </div>
    {% endfor %}

</div>

{% endblock content %}